VITE_FIREBASE_API_KEY=AIzaSyDzWOv_OWmsgKCjBXpKYPUk7Q58g-e2XPU
VITE_FIREBASE_AUTH_DOMAIN=gauge-tracker.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gauge-tracker
VITE_FIREBASE_STORAGE_BUCKET=gauge-tracker.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=513232118935
VITE_FIREBASE_APP_ID=1:513232118935:web:b9c639ebe05f0d15c335d2
